<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SecurityKey" value="hZf38ycmCaLu4vFh6zfLe8wrNYGKp5cBR6WbLFUsLS9TxNevmcMZRcvW4N6Fkf5fjgSSyzZKtGTjVrCGx7p88BphVjrFAK26CRhfkLM3A4Tt57SD5VKFWgxG3De5x8Xw"/>
    <!--<add key="Server" value="ZsIiE5PlpCHty+nQGIn/sg=="/>--><!--externo-->
    <add key="Server" value="lbj3pWBoZFoXAXEgnU1I+g=="/> <!--local-->
    <add key="DataSource" value="bd/Lzrmagz8="/>
    <add key="User" value="kqVXhTreECl9QaTHpQpb8w=="/>
    <add key="Password" value="jS3j75g5DQo="/>
    <add key="Port" value="7HOCcJXzvno="/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
