<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SecurityKey" value="r00t%4ss$@"/>
    <!--<add key="Server" value="152.171.67.70"/>-->
    <add key="Server" value="192.168.0.90"/>
    <add key="DataSource" value="sensor"/>
    <add key="User" value="sensor_write"/>
    <add key="Password" value="r00t4ss"/>
    <add key="Port" value="4525"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
