
@{
    ViewBag.Title = "Index";
}

@section Scripts {
    @Scripts.Render("~/Scripts/chart.js")
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, @Html.Raw(ViewBag.Chart));
    </script>
}

<h2>@ViewBag.Title</h2>
<h5>@ViewBag.Description</h5>
<canvas id="myChart"></canvas>